.client-data {
    border-bottom: 1px dashed #D5DDE0;
    display: flex;
    flex-wrap: wrap;
}

.client-data > div {
    width: 50%;
    margin-bottom: 30px;
}

.client-succes {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.client-data div:nth-child(odd) {
    padding-right: 80px;
}

.client-data div:last-child {
    padding-right: 0;
}

.client-succes__text-link {
    display: inline-block;
    text-decoration: none;
    color: #418DE8;
    transition: .4s all ease-in-out;
}